* {
    max-width: 1000px;
    margin: auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: aliceblue;
    border: 2px solid black;
    padding: 20px;
    border-radius: 1%;
    color: rgb(63, 63, 80);
}

.link {
    background-color: rgb(43, 61, 43);
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 3px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgb(45, 66, 45);
    border-radius: 5px;
    font-weight: bold;
}

nav {
    border: 1px solid grey;
    padding: 10px;
    text-align: center;
    margin: 10px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    border-radius: 10px;
}

img {
    width: 100%;
    border-radius: 1%;
}
header {
    padding: 15px;
}
h1 {
    background-color: rgb(204, 195, 219);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(43, 61, 43);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border: 1px solid rgb(209, 195, 195);
    letter-spacing: 2px;
}

.bevezeto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.kep {
    border: 3px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

p {
    text-align: justify;
}

.alcim {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
    border-radius: 10px;
}

#jellemzok {
    background-color: rgb(113, 49, 126);
    color: white;
    text-align: left;
    padding: 5px;
    border-left: 5px solid white;
    border-style: none none dashed solid;
    margin: 10px;
}

ul {
    padding: 10px;
    margin: 10px;
}

li {
    margin: 20px;
}

.tartalom {
    background-color: rgb(247, 231, 213);
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding-top: 35px;
}

.kiemeles {
    background-color: rgb(208, 222, 241);
}

#fajta {
    background-color: rgb(59, 134, 36);
    color: white;
    text-align: left;
    padding: 5px;
    border-left: 5px solid white;
    border-style: none none dashed solid;
    margin: 10px;

}

#fajtak {
    margin: 15px;
}

ol {
    margin: 10px;
    padding: 10px;
}

footer {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

h3 {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 2px dotted black;
    padding-top: 20px;
    width: 200px;
    
}

#hodlink {
    color: rgb(168, 62, 20);
    text-decoration: dashed;
    font-weight: bold;
}

#lablec {
    padding-top: 20px;

}

.kiscim {
    color: rgb(54, 87, 54);
    border-style: none none dashed solid;
    border-left: 5px solid rgb(54, 87, 54);
    padding: 10px;
    margin: 15px;
}

.piciszoveg {
    margin: 20px;
    padding: 10px;
    text-align: justify;
}

@media screen and (max-width:700px) {
    .linkek{
        grid-template-columns: 1fr;
    }
    .alcim {
        grid-template-columns: 1fr;
    }
    .bevezeto {
        grid-template-columns: 1fr;
    }  
}